In [1]:
dict_2 = {"daughter's name":"Eva","daughter's eyes":"blue","duagther's weight":174,"daughter's height":50}

#add 10 inches to the height

dict_2["daughter's height"]= 50+10
print(dict_2)

{"daughter's name": 'Eva', "daughter's eyes": 'blue', "duagther's weight": 174, "daughter's height": 60}

In [2]:
dict_2["daughter's height"]=dict_2["daughter's height"]+10
print(dict_2)

{"daughter's name": 'Eva', "daughter's eyes": 'blue', "duagther's weight": 174, "daughter's height": 70}

In [4]:
dict_2 = {"daughter's name":"Eva","daughter's eyes":"blue","duagther's weight":174,"daughter's height":50}

#use method called items to generate a list of tuples

tup1 = dict_2.items()
print(tup1)

dict_items([("daughter's name", 'Eva'), ("daughter's eyes", 'blue'), ("duagther's weight", 174), ("daughter's height", 50)])

In [5]:
dict_2 = {"daughter's name":"Eva","daughter's eyes":"blue","duagther's weight":174,"daughter's height":50}

#use method called get to print the value of daughter's eyes

print(dict_2.get("daughter's eyes"))

blue

In [6]:
dict_2 = {"daughter's name":"Eva","daughter's eyes":"blue","duagther's weight":174,"daughter's height":50}


#use the get method to look for my daughter's age but if nothing 
#nothing appears make the get method to return 20

if dict_2.get("daughter's age")==True:
    print(dict_2.get("daughter's age"))
else:
    print(20)

20

In [7]:
dict_2 = {"daughter's name":"Eva","daughter's eyes":"blue","duagther's weight":174,"daughter's height":50}

ans = dict_2.get("daughter's age", 20)
print(ans)

20

In [8]:
dict_2 = {"daughter's name":"Eva","daughter's eyes":"blue","duagther's weight":174,"daughter's height":50}

#use clear method and clear whole dictinoary

print(dict_2.clear())

None

In [9]:
dict_2 = {"daughter's name":"Eva","daughter's eyes":"blue","duagther's weight":174,"daughter's height":50}
dict_2.clear()
print(dict_2)

{}

In [10]:
dict_2 = {"daughter's name":"Eva","daughter's eyes":"blue","duagther's weight":174,"daughter's height":50}

#use len funtion and findout how many keys are in our dictionary

keys = len(dict_2)
print(keys)

4

In [12]:
dict_2 = {"daughter's name":"Eva","daughter's eyes":"blue","daugther's weight":174,"daughter's height":50}

#using the maximum function, what is the highest value in the dictionary
highest = max(dict_2)
print(highest)

daugther's weight

In [13]:
dict_2 = {"daughter's name":"Eva","daughter's eyes":"blue","duagther's weight":174,"daughter's height":50}

#would like to findout the lowest value

lowest = min(dict_2)
print(lowest)

daughter's eyes

# Strings methods

In [16]:
# write a string and explain what casefold method does

name = "SOLOMON"

print(name.casefold())

solomon

In [19]:
name = "SOLOMON"

#Use the center method to center the string 

print(name.center(30))

           SOLOMON

In [22]:
name = "SOLOMON"

#use endswith method

print(name.endswith("N"))

True

In [26]:
name = "SOLOMON"

#find method

print(name.find("z"))

-1

In [27]:
name = "SOLOMON"

#isalnum

print(name.isalnum())

True

In [28]:
name = "SOLOMON1234"

#isalnum

print(name.isalnum())

True

In [29]:
name = "SOLOMON123$@£"

#isalnum

print(name.isalnum())#alphanumeric

False

In [30]:
name = "SOLOMON"

#isalpha
print(name.isalpha())

True

In [31]:
name = "SOLOMON1234"
print(name.isalpha())

False

In [33]:
tup = ("Solomon","Muwanguzi")

#join 
s = " ".join(tup)

print(s)

Solomon Muwanguzi

In [34]:
tup = ("Solomon","Muwanguzi")
print(tup)

('Solomon', 'Muwanguzi')

In [35]:
tup = ("Solomon","Muwanguzi")

#join 
s = "# ".join(tup)

print(s)

Solomon# Muwanguzi

In [36]:
tup = ("Solomon","Muwanguzi")

#join 
s = "#".join(tup)

print(s)

Solomon#Muwanguzi

In [38]:
#rstrip

name = "SOLOMON123$@£@@@@@"

print(name.rstrip("123$@£@@@@@"))

SOLOMON

In [39]:
#rstrip

name = "SOLOMON123$@£@@@@@"

print(name.lstrip("SOLOMON"))

123$@£@@@@@

In [41]:
name = "Solomon Muwanguzi"

#rsplit

print(name.rsplit(" "))

['Solomon', 'Muwanguzi']

In [47]:
name = "Solomon Muwanguzi,is boy from Ndejje"

#use split

print(name.split())

['Solomon', 'Muwanguzi,is', 'boy', 'from', 'Ndejje']

In [46]:
name = "Solomon Muwanguzi,is boy from Ndejje"

#splitlines

print(name.splitlines())

['Solomon Muwanguzi,is boy from Ndejje']

In [48]:
text = "My CODING SCHOOL IS mindset coders"

#swapcase

r = text.swapcase()
print(r)

mY coding school is MINDSET CODERS

# Type conversion

In [50]:
Grades = "99"

#converting a string into interger
Grades = int("99")
print(Grades)

99

In [51]:
Grades = 99.9

#convert a float into an interger
Grades = int(99.9)
print(Grades)

99

In [52]:
Grades = "99.9"

#convert a string into a float

Grades = float("99.9")
print(Grades)

99.9